.container {
  width: 600px;
}

h3 {
  color: #fff;
  margin: 10px 0 20px;
  text-align: center;
  font-size: 1.5rem;
}

.textarea {
  border: none;
  display: block;
  width: 100%;
  height: 150px !important;
  font-family: inherit;
  padding: 10px;
  margin: 20px 0 20px 0;
  font-size: 1rem;
  display: inline-block;
  resize: none;
}

.textarea:focus,
.textarea:active {
  box-shadow: 4px 4px 30px rgba(255, 255, 255, 0.3);
  outline: none;
}

.tag {
  background-color: #f0932b;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 1rem;
}

.highlight {
  background-color: #273c75;
}
