.remained {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  transition: 0.3 ease;
}

.remained span {
  font-size: 1.25rem;
  font-weight: bold;
}

.remained small {
  font-size: 1rem;
}

.percentage {
  background-color: #6ab3f8;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 0;
  transition: 0.3s ease;
}
