.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 200px;
}

.toggle {
  visibility: hidden;
}

.label {
  position: relative;
  display: inline-block;
  margin: 0 15px 0;
  width: 80px;
  height: 40px;
  background-color: #d0d0d0;
  border-radius: 50px;
  cursor: pointer;
}

.toggle:checked {
  width: 25;
  height: 25;
}

.toggle:checked + .label {
  background-color: #8e44ad;
}

.ball {
  background: #fff;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: transform 0.3s linear;
}

.toggle:checked + .label .ball {
  transform: translate(40px);
}
